.tedhenatcontainer{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	overflow:auto;
	padding-left:10px;

	}

.rightdiv{
	margin-top: 50px;
	float: right;
	width: 49%;
	background-color: #fff;
	border-bottom: 4px solid #0099FF;
	border-top: 4px solid #0099Ff;
	border-radius: 5px;
	margin-right: auto;
	margin-left: 2px;

	margin-bottom:auto;
	line-height: 20px;
}
.tema_dip_container{
    	margin-top: 20px;
    margin-bottom:20px;
    width: 100%;
    border-radius: 4px;
  
    clear:both;

}

#tema_dip_textbox{
    
    
    
}

#tema_dip_textbox_cont{
    width:100%;
    margin:auto;
    
}
#tema_dip_textbox{
    font-size:16px;
    text-align: left;
    width:100%;
    padding:10px;
    border-radius: 3px;
    border:0px solid #0099FF;
-webkit-box-shadow: inset 0px 0px 9px -1px rgba(14,76,117,1);
-moz-box-shadow: inset 0px 0px 9px -1px rgba(14,76,117,1);
box-shadow: inset 0px 0px 9px -1px rgba(14,76,117,1);
}

#tema_dip_text{
  margin:2;
    	font-size:17px;	
	font-weight: bold;
	color:#0099ff;
	cursor:pointer;
    line-height:25px; 
}
.leftdiv{
	margin-top: 50px;
	float: left;
	width: 49%;
	background-color: #fff;
	border-bottom: 4px solid #0099FF;
	border-top: 4px solid #0099Ff;
	border-radius: 5px;
	margin-right: 2px;
	margin-left: auto;
	margin-bottom:10px;
		line-height: 20px;
}
#profileheaderlabel{
	background-color: #333;
	height: 22px;
	position: relative;
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	
	
	}
#ndryshofotobtn{
	float:right;
	padding:1px 1px;
	height:20px;
	margin-top:2px;
	margin-bottom:2px;
	}
	
	#ndryshofjalkalimintext{
		font-size:12px;	
	font-weight: bold;
	color:#0099ff;
	cursor:pointer;
		}
		
		#ndryshofjalkalimintext:hover{
		font-size:12px;	
	font-weight: bold;
	color:#444;
	cursor:pointer;
		}
		#ndryshofjalkalimindiv{
		width:300px;
	height:19px;
	line-height:17px;
		margin:auto;
		}
		#ndryshofjalkalimin_kutite input{
			margin:0;
-webkit-box-shadow: inset 0px 0px 9px -4px rgba(14,76,117,1);
-moz-box-shadow: inset 0px 0px 9px -4px rgba(14,76,117,1);
box-shadow: inset 0px 0px 9px -4px rgba(14,76,117,1);
			}
			#ndryshofjalkalimin_kutite {
			display:none;

			}
		#ndryshofjalkalimin_kutite input[type=button]{
			width:60px;
			height:20px;
			margin:1;
			padding:2;
			line-height:10px;
			display:inline;
			}
		#ndryshofjalkalimin_kutite p {
			font-size:12px;	
	font-weight: bold;
	color:#0099ff;
	cursor:pointer;
	margin:0;
	padding:0;
			
			}
	#ndryshofjalkalimindiv2 {
			width:205px;
			margin-left:auto;
			margin-right:auto;

		}
#old_pass,#new_pass,#confirm_pass{
	width:200px;
	padding: 3px 10px;
	}
		
#profpiccont{
	
	width: 275px;
	margin-left: auto;
	margin-right: auto;
	display: compact;
	}
#profpiccont img{
	width:100%;
	
	}
#atagfoto{
	width: 35px;
	height: 35px;
	float:right;


	}
#butonprofili{
	vertical-align:text-top;
padding-top:5px;
    text-align:center;
	line-height:48px;
	height:37px;
	}
#fotoprofiliUL{
		margin-left:-25px;
		float:left;
		
		}
#fotoprofiliUL li{
		padding:0px;
		
		}
#fotoprofiliUL li a{
		height:25px;
		line-height:25px;
		
		}
#te_dhenat_personale_div{
	    width:300px;
	    margin-bottom: -10px;
		}
#te_dhenat_personale_div p{
	font-size: 14px;
	font-weight: bold;
	color:#0099ff;
	}
#uploadprofilepic{
	display:none;
	}
			
#upload_pic_path{
	margin-left:10px;
    width:200px;
	padding:4px;
	border-radius:3px;
	font-size: 13px;
	font-weight: bold;
	color:#333;
	border:0px;
	}
	input[id=ngarko],input[id=anulo]{
	width:70px;
	padding:1px 1px;
	height:20px;
	margin-top:2px;
	margin-bottom:2px;
	}