.header-container{
   position:fixed;
left:0px;
top:0px;
height:50px;
width:100%;
background-color:#006699;
-webkit-box-shadow: 0px 1px 30px -11px rgba(8,21,61,1);
-moz-box-shadow: 0px 1px 30px -11px rgba(8,21,61,1);
box-shadow: 0px 1px 30px -11px rgba(8,21,61,1);
}

.header{
height:50px;

width:960px;

margin-left:auto;
margin-right:auto;

padding-left:10px;

}
.divnav {

float:right;
width:50%;

}
.divlogo{
width:50%;
float:left;

}

.divnav ul {
list-style-type:none;
}
.divnav ul li {
float:right;
}
 .divnav ul li a {

display:inline;

width:60px;
line-height:0px;

margin:5px;

  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  color:#fff;
  font-size: 16px;
 
  text-decoration: none;
padding:5px 5px 10px 5px ;


}
.divnav ul li a:hover {

  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  color:#0099FF;

 background-color:#FFFFFF;

}

.searchdiv{
width:80%;
margin-left:auto;
margin-right:auto;

}
#search {
 padding:8px 15px;
 background:#F8F8F8 ;
 border:1px solid #207cca;
 width:80%;
 border-radius:2px;
}
#searchbtn{
                position:relative;
                padding:7px 15px;
                left:-10px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
				width:18%;
				border-radius:2px;
			
				
}
#searchbtn:hover{
               
              
                border:2px solid #0099FF;
                background-color:#0099FF;
               
				
}

.logindivcontainer{
width:50%;

margin-top:auto;
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
}
.logindiv{

width:70%;
margin-top:120px;
margin-left:auto;
margin-right:auto;
margin-bottom:auto;
}
.logindiv input[type=text] ,input[type=password]{
width:100%;
 padding:8px 15px;
 background:#F8F8F8 ;
 border:1px solid #207cca;
 margin:10px auto;
 border-radius:2px;
}
.logindiv input[type=submit] ,input[type=button]{
width:48%;
 padding:8px 15px;
background-color:#207cca;
              color:#fafafa;
			  border:2px solid #207cca;
 margin:10px auto;
 border-radius:2px;
}
.logindiv input[type=submit]{
float:right;
}
.logindiv input[type=button]{
float:left;
}
input[type=submit]:hover , [type=button]:hover{                       
                border:2px solid #0099FF;
                background-color:#0099FF;             			
}

body{

font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size:30px;
	font-style: normal;
	font-variant: normal;
	font-weight:200;
	line-height: 48px;
	color:#f0f0f0;
	background-color:#D0D0D0 ;
	
}
h5 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size:12px;
	font-style: normal;
	font-variant: normal;
	font-weight:200;
	line-height: 20px;
	color:#f0f0f0;
	
}
.content{
height:400px;
background:#fff 	;
width:970px;
margin-top:49px;
margin-left:auto;
margin-right:auto;
border:1px solid #C0C0C0  ;
}
.footer{

background-color:#006699;
width:960px;
margin-top:-1px;
margin-left:auto;
margin-right:auto;
-webkit-box-shadow: 3px 1px 30px -2px rgba(8,21,61,1);
-moz-box-shadow: 0px 1px 30px -11px rgba(8,21,61,1);
box-shadow: 0px 1px 30px -11px rgba(8,21,61,1);
display:block;
float:none;
overflow:hidden;
padding-left:20px;

}
.copyrightdiv,.sitefooterinfodiv{
width:100%;
text-align:center;
margin-top:0px;
}